/************************** aside *******************/
#header {
  left: 0;
}

#wrapper {
  padding-right: 0;
  padding-left: 23em;
}
.footerIcon {
  font-size: 1.5rem;
}
.contactLI a:hover {
  text-decoration: none;
}
#noUnderline {
  text-decoration: none;
}
#phoneIcon {
  transition-duration: 1s;
}

/* ***********************Things I can do****************** */
.fab {
  font-size: 1.5rem;
}
.myIcon {
  background: #4acaa8;
  border-radius: 100%;
  color: #ffffff;
  display: flex;
  height: 2.5em;
  left: 0;
  line-height: 2.5em;
  position: absolute;
  text-align: center;
  top: 0;
  width: 2.5em;
  align-items: center;
  justify-content: center;
}

/* ***********************A few accomplishments*********************** */

#mobile {
  display: none;
}
#desktop {
  display: inline-block;
}
.imgProject {
  padding: 0.3em;
  border: 0.15em grey solid;
}
.builtWith {
  font-weight: 900;
}
.builtIcons {
  color: #4acaa8;
  padding-left: 0.5em;
}

/* ***************************contact*************** */
.contactLI {
  list-style-type: none;
}
.contactIcon {
  color: rgb(74, 202, 168);
  font-size: 1.5rem;
  line-height: 2rem;
  padding-right: 2em;
}
#four {
  padding-bottom: 13rem;
}
/* ***************************adjust size for screen****************** */
@media screen and (max-width: 1680px) {
  /* Header */

  #header {
    width: 21em;
  }

  #header > header {
    padding: 2em;
  }

  #header > footer {
    padding: 1.5em;
  }

  /* Wrapper */

  #wrapper {
    padding-left: 21em;
  }
}

/* large */
@media screen and (max-width: 1280px) {
  /* Header */

  #header {
    width: 20em;
  }

  /* Wrapper */

  #wrapper {
    padding-left: 20em;
  }
}

/* Medium */
@media screen and (max-width: 1024px) {
  /* Header */

  #header {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    display: block;
    height: 100%;
    overflow-y: auto;
    position: fixed;
    top: 0;
    width: 23.1em;
    z-index: 10002;
    -moz-transform: translateX(23em);
    -webkit-transform: translateX(23em);
    -ms-transform: translateX(23em);
    transform: translateX(23em);
    right: 0;
    left: auto;
  }

  #header > footer {
    bottom: auto;
    left: auto;
    margin: 0.5em 0 0 0;
    position: relative;
    right: auto;
    top: auto;
  }
  /* Wrapper */

  #wrapper {
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transition: -moz-transform 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease;
    transition: transform 0.5s ease;
    padding: 44px 0 1px 0;
  }
  #mobile {
    display: inline-block;
  }
  #desktop {
    display: none;
  }
  #four {
    padding-bottom: 0;
  }
}

/* Small */
@media screen and (max-width: 736px) {
  /* Header */

  #header {
    width: 17em;
    -moz-transform: translateX(17em);
    -webkit-transform: translateX(17em);
    -ms-transform: translateX(17em);
    transform: translateX(17em);
    right: 0;
    left: auto;
  }

  #header > header {
    padding: 2em;
  }

  #header > header .avatar {
    margin: 0 auto 1.6875em auto;
    width: 6em;
  }

  #header > header h1 {
    font-size: 1.5em;
  }

  #header > header p {
    margin: 1em 0 0 0;
  }

  #header > footer {
    padding: 1.5em;
  }
  body.header-visible #wrapper,
  body.header-visible #titleBar {
    -moz-transform: translateX(-17em);
    -webkit-transform: translateX(-17em);
    -ms-transform: translateX(-17em);
    transform: translateX(-17em);
  }
}
